<?xml version="1.0" encoding="UTF-8"?>
<axion>
	<debug> 
  		<level>1</level>
	</debug>
	<db>
		<driver>mysql</driver>
		<port>3306</port>
	</db>
	<dispatcher>
		<class>AXION_DISPATCHER</class>
	</dispatcher>
	<controller>
		<default>index</default>
	</controller>
	<action>
		<default>index</default>
	</action>
	<model>
	</model>
	<view>
		<compress>gzip</compress>
		<striphtml>false</striphtml>
	</view>
	<session>
		<handler>file</handler>
		<hashkey>axionFramwork</hashkey>
	</session>
	<cache>
		<handler>file</handler>
		<expire>60</expire>
		<prefix>axion</prefix>
	</cache>
	<misc>
		<timezone>Asia/Shanghai</timezone>
	</misc>
</axion>