<?xml version="1.0" encoding="UTF-8"?>
<axion>
	<debug>
		<level>1</level>
	</debug>
	<connections>
		<databases>
			<development>
				<driver>mysql</driver>
				<host>localhost</host>
				<port>3306</port>
				<username></username>
				<password></password>
				<database></database>
				<autocommit>false</autocommit>
			</development>
			<deployment>
				<driver>mysql</driver>
				<host>localhost</host>
				<port>3306</port>
				<username></username>
				<password></password>
				<database></database>
				<autocommit>false</autocommit>
			</deployment>
		</databases>
		<memcached>
			<application>
				<host>localhost</host>
				<port>11211</port>
			</application>
			<session>
				<host>localhost</host>
				<port>11211</port>
			</session>
		</memcached>
	</connections>
	<dispatcher>
		<class>AXION_DISPATCHER</class>
	</dispatcher>
	<controller>
		<default>index</default>
	</controller>
	<action>
		<default>index</default>
	</action>
	<model>
	</model>
	<view>
		<compress>gzip</compress>
		<striphtml>false</striphtml>
		<templatesuffix>tpl</templatesuffix>
	</view>
	<session>
		<handler>memcached</handler>
		<timeout>10800</timeout>
		<savepath></savepath>
	</session>
	<cache>
		<path></path>
		<handler>file</handler>
		<expire>60</expire>
		<prefix>axion</prefix>
		<section>application</section>
	</cache>
	<misc>
		<timezone>Asia/Shanghai</timezone>
	</misc>
</axion>